.box {
    position: absolute;
    display: block;
    height: 510px;
    width: 500px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: #e2d9d8;
}

.b1 {
    position: relative;
    display: block;
    background-color: rgb(89, 55, 212);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 102px;
}

.b2 {
    position: relative;
    display: block;
    background-color: rgb(184, 83, 204);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 204px;
    top: -100px;
}

.b3 {
    position: relative;
    display: block;
    background-color: rgb(149, 9, 184);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 306px;
    top: -200px;
}

.b4 {
    position: relative;
    display: block;
    background-color: rgb(79, 52, 114);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 306px;
    top: -198px;
}

.b5 {
    position: relative;
    display: block;
    background-color: rgb(119, 75, 148);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 306px;
    top: -196px;
}

.b6 {
    position: relative;
    display: block;
    background-color: rgb(74, 31, 80);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 306px;
    top: -194px;
}

.b7 {
    position: relative;
    display: block;
    background-color: rgb(90, 68, 119);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 306px;
    top: -192px;
}

.b17 {
    position: relative;
    display: block;
    background-color: rgb(161, 12, 74);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 102px;
    top: -598px;
}

.b16 {
    position: relative;
    display: block;
    background-color: rgb(16, 12, 74);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 102px;
    top: -596px;
}

.b15 {
    position: relative;
    display: block;
    background-color: rgb(117, 7, 117);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 102px;
    top: -592px;
}

.b14 {
    position: relative;
    display: block;
    background-color: rgb(203, 10, 221);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 102px;
    top: -590px;
}

.b13 {
    position: relative;
    display: block;
    background-color: rgb(61, 3, 66);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 204px;
    top: -690px;
}

.b18 {
    position: relative;
    display: block;
    background-color: rgb(126, 9, 57);
    height: 100px;
    width: 100px;
    border-radius: 2px;
    left: 204px;
    top: -996px;
}